
<launch>

  <node pkg="rospkg-pyinterface" name="cpz7415v" type="cpz7415v.py" required="true" output="screen">
    <param name="~rsw_id" value="0" />
    <param name="~node_name" value="cpz7415v" />

    <param name="~use_axis" value="x" />

    <param name="~x_pulse_conf" value="{'PULSE': '0', 'OUT': '0', 'DIR': '1', 'WAIT': '0', 'DUTY': '0'}" />
    <param name="~x_mode" value="jog" />
    <param name="~x_clock" value="299" />
    <param name="~x_acc_mode" value="acc_normal" />
    <param name="~x_low_speed" value="200" />
    <param name="~x_speed" value="50000" />
    <param name="~x_acc" value="5000" />
    <param name="~x_dec" value="5000" />
    <param name="~x_step" value="1" />


  </node>

</launch>
