
<launch>

  <node pkg="rospkg-pyinterface" name="cpz7415v" type="cpz7415v.py" required="true" output="screen">
    <param name="~rsw_id" value="0" />
    <param name="~node_name" value="cpz7415v" />
    <param name="~do_conf" value="[1, 1, 1, 1]" />

    <param name="~use_axis" value="xy" />

    <param name="~x_pulse_conf" value="{'PULSE': 1, 'OUT': 0, 'DIR': 0, 'WAIT': 0, 'DUTY': 0}" />
    <param name="~x_mode" value="jog" />
    <param name="~x_clock" value="59" />
    <param name="~x_acc_mode" value="acc_normal" />
    <param name="~x_low_speed" value="30" />
    <param name="~x_speed" value="5000" />
    <param name="~x_acc" value="50" />
    <param name="~x_dec" value="50" />
    <param name="~x_step" value="1" />

    <param name="~y_pulse_conf" value="{'PULSE': 1, 'OUT': 0, 'DIR': 0, 'WAIT': 0, 'DUTY': 0}" />
    <param name="~y_mode" value="jog" />
    <param name="~y_clock" value="59" />
    <param name="~y_acc_mode" value="acc_normal" />
    <param name="~y_low_speed" value="30" />
    <param name="~y_speed" value="50000" />
    <param name="~y_acc" value="50" />
    <param name="~y_dec" value="50" />
    <param name="~y_step" value="1" />

  </node>

</launch>
